!!!
%html
  %head
    %title 
      HelloTitle
  %body
    HelloWorld
    %a{:href => '/'}
      home
    %a{:href => '/form'}
      form
    %a{:href => '/success'}
      success
    %a{:href => '/error'}
      error
    %button{:class => "Happy"}
      Clickme!
